mule/src/main/mule/project3-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="efd853d1-dfcd-406e-b902-4177a6d19dbe" doc:description="Gmail connection used to send an invoice in an email" >
		<email:smtps-connection host="smtp.gmail.com" user="tmfieldtrip@gmail.com" password="${secure::emailpassword}">
			<tls:context>
	            <tls:trust-store insecure="true"/>
	        </tls:context>
		</email:smtps-connection>
	</email:smtp-config>
	<configuration-properties file="application.properties"/>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86051baa-7a0f-47e9-a92a-cc44bb1e6c5d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
  
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="24c85e9e-14fe-4eab-9e2f-0417c4575a91" file="config.yaml" key="emailpassword" />
	<http:request-config name="SalesforceAuthConnection" doc:name="HTTP Request configuration" doc:id="56cbf6f2-3ee4-4552-aab9-d59d3e4772bd" basePath="/auth" >
		<http:request-connection host="${authentication.url}" port="80" />
	</http:request-config>
	<http:request-config name="ExpenseConnection" doc:name="HTTP Request configuration" doc:id="71f9c491-f06c-454c-b3f2-c8f77aad0c37" >
		<http:request-connection host="${expense.url}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7137f0f1-3071-446f-9c27-f16d00789568" basePath="/eureka/total" >
		<http:request-connection host="ec2-3-16-161-166.us-east-2.compute.amazonaws.com:8761" />
	</http:request-config>
	<http:request-config name="RevenueConnection" doc:name="HTTP Request configuration" doc:id="a8f274e5-cab2-4248-92df-8984aa80d117" basePath="/revenue" >
		<http:request-connection host="${revenue.url}" />
	</http:request-config>
	<http:request-config name="SalesforceStockConfiguration" doc:name="HTTP Request configuration" doc:id="43d0ed5e-2613-46d0-8b5e-8a31db3a9f6c" basePath="/stock" >
		<http:request-connection host="${salesforcestock.url}" />
	</http:request-config>
	<http:request-config name="FundsConfiguration" doc:name="HTTP Request configuration" doc:id="7d477876-93ca-44aa-bb0b-d24636e8e0de" basePath="/funds">
		<http:request-connection host="fundsmylife-env.ucbmfry2bm.us-west-2.elasticbeanstalk.com" />
	</http:request-config>
	<http:request-config name="MicroserviceStockConfiguration" doc:name="HTTP Request configuration" doc:id="6ca995d2-43e3-4885-9baf-5f3c6ce72714" basePath="/stock-service/rest/stock" >
		<http:request-connection host="ec2-13-59-166-224.us-east-2.compute.amazonaws.com" port="8762" />
	</http:request-config>
	<flow name="sendEmail" doc:id="2bb154c9-28a5-45c3-b7e8-5e4fabf7e349" >
		<http:listener doc:name="/invoice/{department}" doc:id="ca75f5be-14ca-45b2-8f3b-51241dc33001" config-ref="HTTP_Listener_config" path="/invoice/{departmentid}" doc:description="Flow that sends out an Invoice in an email

Requires: 
{departmentid}	uri param			departmentid of the recipient (allows for custom formatting per department)
{email}				query param		recipient email address
" allowedMethods="GET" outputMimeType="application/json"/>
		<set-variable value="" doc:name="Create outputemail" doc:id="de821f4d-0bc8-4158-8675-ea2a2e1a97c9" variableName="outputemail"/>
		<set-variable value="#[attributes.uriParams.departmentid]" doc:name="Set Department ID" doc:id="399f58d7-a9b7-4988-a598-d27fe9158ffe" variableName="departmentid"/>
		<flow-ref doc:name="LoadAllData" doc:id="ffcb5d33-b175-429d-8b11-27f9eff42a13" name="LoadAllData"/>
		<parse-template doc:name="Set email.html to outputemail" doc:id="21fcf65a-759f-4560-9528-deb5e6f0a022" location="email.html" target="outputemail"/>
		<logger level="INFO" doc:name="Log Email Payload" doc:id="4ac71acd-af96-4016-a0d2-5afe32d961bc" message="#[payload]"/>
		<email:send doc:name="Send Email" doc:id="64bf4df8-d253-4805-89e2-681a14c48054" config-ref="Email_SMTP" fromAddress="tmfieldtrip@gmail.com" subject="Texas Mule - Invoice" doc:description="Connector that sends an invoice to an email address

Requires:
{email}				query param		sets email destination
{departmentid}	uri param			sets department destination">
			<email:to-addresses>
				<email:to-address value="#[attributes.queryParams.email]" />
			</email:to-addresses>
			<email:body contentType="text/html">
				<email:content ><![CDATA[#[vars.outputemail]]]></email:content>

			</email:body>
		</email:send>
		<set-payload value="Email sent successfully" doc:name="Set Payload" doc:id="67b84d1b-7d21-4dbd-aa13-6a8efd9d0ae9" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0bcdbc7c-87d9-406f-904d-c83eda41d962" type="EMAIL:SEND">
				<parse-template doc:name="Display InvalidEmail HTML" doc:id="33345b69-d97c-4bb7-928d-bec13553b968" location="C:\Users\RCP\Documents\Revature\project3responsetest.html"/>
			</on-error-continue>
		</error-handler>
	
</flow>
	<sub-flow name="LoadAllData" doc:id="3b61aca0-b305-4057-81ff-a9cbccc308a1" >
		<flow-ref doc:name="LoadFire" doc:id="293329b3-0047-4bee-89dc-33edf35467b7" name="PullFireInformation"/>
		<flow-ref doc:name="LoadHospital" doc:id="472a2517-40a6-411d-b819-b4019ddda72c" name="PullHospitalInformation"/>
		<flow-ref doc:name="LoadPolice" doc:id="73b160c8-c0e2-44f4-b7b0-fc1771d9dc11" name="PullPoliceInformation"/>
		<flow-ref doc:name="LoadParks" doc:id="a83cd640-350d-4704-ad90-ec66519810b8" name="PullParksInformation"/>
		<flow-ref doc:name="LoadSewage" doc:id="addbe0ef-d157-449f-bb04-5a0bb3b96daa" name="PullSewageInformation"/>
	</sub-flow>
	<sub-flow name="PullFireInformation" doc:id="443bae36-4627-4c5c-b151-97d57e8e1b5d">
		<http:request method="GET" doc:name="FireExpense" doc:id="da45142f-0521-4d1d-ab30-56bb33bbab88" config-ref="ExpenseConnection" target="fireExpense" path="/fire"/>
		<http:request method="GET" doc:name="FireStocksExpense" doc:id="30656671-55f8-4740-8527-4dc2c4e95779" target="fireStocksExpense" config-ref="SalesforceStockConfiguration" path="/Fire%20Department"/>
		<http:request method="GET" doc:name="FireRevenue" doc:id="d988f5a7-be56-4fb8-bbee-3d65a50e4a93" config-ref="RevenueConnection" path="/fire" target="fireRevenue"/>
		<http:request method="GET" doc:name="FireStocksRevenue" doc:id="5df58f23-ce05-4dbf-922d-3db1bcc4e822" target="fireStocksRevenue" config-ref="MicroserviceStockConfiguration" path="/aggregate/Fire Department"/>
		<ee:transform doc:name="Fire Funds" doc:id="446964ea-bc8e-492c-b0f8-4098efc50e11" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="FireDataValues" ><![CDATA[%dw 2.0
output application/java
var fireExpenses = (vars.fireExpense.amount reduce $$ + $ default 0) + (vars.fireStocksExpense.amountSpent reduce $$ + $ default 0)
var fireRevenue = (vars.fireRevenue.cost reduce $$ + $ default 0)
var fireFunds = (vars.fireRevenue.cost reduce $$ + $ default 0) - ((vars.fireExpense.amount reduce $$ + $ default 0) + (vars.fireStocksExpense.amountSpent reduce $$ + $ default 0))
fun colorize(referenceVal: Number) = 
	if (referenceVal < 0) ('<font color=#FF0000>-\$' ++ abs(referenceVal) ++ '</font>') 
	else ('<font color=#000000>\$' ++ referenceVal ++ '</font>')
---
{
	fireExpenses: colorize(fireExpenses),
	fireRevenue: colorize(fireRevenue),
	fireFunds: colorize(fireFunds)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	
	<!-- Flow written by Raj Mahal -->
	<sub-flow name="PullHospitalInformation" doc:id="0bf20e2d-bbf9-4436-8276-373e94ed0fae" >
		<http:request method="GET" doc:name="HospitalExpense" doc:id="55ab68d8-1b9f-4de2-b59e-8a3067deb018" config-ref="ExpenseConnection" path="/hospital" target="hospitalExpense"/>
		<http:request method="GET" doc:name="HospitalStocksExpense" doc:id="a7927f0e-fef2-487e-a8e1-a6c4c81dcf8d" target="hospitalStocksExpense" config-ref="SalesforceStockConfiguration" path="/Hospital"/>
		<http:request method="GET" doc:name="HospitalRevenue" doc:id="ba1ce340-1608-4a43-bda5-9038f3745a6e" target="hospitalRevenue" config-ref="RevenueConnection" path="/hospital"/>
		<http:request method="GET" doc:name="HospitalStocksRevenue" doc:id="67bc6e2c-d92c-4e6f-b4f0-cb7e006b3444" target="hospitalStocksRevenue" path="/aggregate/Hospital" config-ref="MicroserviceStockConfiguration"/>
		<ee:transform doc:name="Hospital Funds" doc:id="f5c1a10d-7d3f-4718-bfff-73ef02dc750a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="HospitalDataValues" ><![CDATA[%dw 2.0
output application/java
var hospitalExpenses = (vars.hospitalExpense.amount reduce $$ + $ default 0) + (vars.hospitalStocksExpense.amountSpent reduce $$ + $ default 0)
var hospitalRevenue = (vars.hospitalRevenue.cost reduce $$ + $ default 0)
var hospitalFunds = (vars.hospitalRevenue.cost reduce $$ + $ default 0) - ((vars.hospitalExpense.amount reduce $$ + $ default 0) + (vars.hospitalStocksExpense.amountSpent reduce $$ + $ default 0))
fun colorize(referenceVal: Number) = 
	if (referenceVal < 0) ('<font color=#FF0000>-\$' ++ abs(referenceVal) ++ '</font>') 
	else ('<font color=#000000>\$' ++ referenceVal ++ '</font>')
---
{
	hospitalExpenses: colorize(hospitalExpenses),
	hospitalRevenue: colorize(hospitalRevenue),
	hospitalFunds: colorize(hospitalFunds)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="PullPoliceInformation" doc:id="1aaa8746-568e-405e-a74b-05490cca3a67">
		<http:request method="GET" doc:name="PoliceExpense" doc:id="ed9c9c94-987d-496f-9776-f318011ef844" config-ref="ExpenseConnection" path="/police" target="policeExpense" />
		<http:request method="GET" doc:name="PoliceStocksExpense" doc:id="3027389c-de9b-4847-be9b-da0de46c3b56" config-ref="SalesforceStockConfiguration" path="/Police" target="policeStocksExpense" />
		<http:request method="GET" doc:name="PoliceRevenue" doc:id="9d56f244-df3a-4438-89a2-3e4ed094af9f" config-ref="RevenueConnection" path="/police" target="policeRevenue" />
		<http:request method="GET" doc:name="PoliceStocksRevenue" doc:id="faaa5929-c4a5-44b0-9847-cc982d7d7885" config-ref="MicroserviceStockConfiguration" path="/aggregate/Police" target="policeStocksRevenue" />
		<ee:transform doc:name="Police Funds" doc:id="5167f77d-3c30-4656-9a37-25972a23b82e">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="PoliceDataValues" ><![CDATA[%dw 2.0
output application/java
var policeExpenses = (vars.policeExpense.amount reduce $$ + $ default 0) + (vars.policeStocksExpense.amountSpent reduce $$ + $ default 0)
var policeRevenue = (vars.policeRevenue.cost reduce $$ + $ default 0)
var policeFunds = (vars.policeRevenue.cost reduce $$ + $ default 0) - ((vars.policeExpense.amount reduce $$ + $ default 0) + (vars.policeStocksExpense.amountSpent reduce $$ + $ default 0))
fun colorize(referenceVal: Number) = 
	if (referenceVal < 0) ('<font color=#FF0000>-\$' ++ abs(referenceVal) ++ '</font>') 
	else ('<font color=#000000>\$' ++ referenceVal ++ '</font>')
---
{
	policeExpenses: colorize(policeExpenses),
	policeRevenue: colorize(policeRevenue),
	policeFunds: colorize(policeFunds)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="PullParksInformation" doc:id="0d22825a-81f5-4691-b454-45274748cabf">
		<http:request method="GET" doc:name="ParksExpense" doc:id="c617034e-235c-4c9a-b186-7358d48bb8bf" config-ref="ExpenseConnection" path="/parks" target="parksExpense" />
		<http:request method="GET" doc:name="ParksStocksExpense" doc:id="7d6c84c9-9f76-450c-af29-81795c4fca69" config-ref="SalesforceStockConfiguration" path="/Parks" target="parksStocksExpense" />
		<http:request method="GET" doc:name="ParksRevenue" doc:id="63f528f6-3b34-4752-b86a-ef43e7cc449e" config-ref="RevenueConnection" path="/parks" target="parksRevenue" />
		<http:request method="GET" doc:name="ParksStocksRevenue" doc:id="42dccdb7-0ab7-4b4b-b2a2-40d6c26c83b8" config-ref="MicroserviceStockConfiguration" path="/aggregate/Parks" target="parksStocksRevenue" />
		<ee:transform doc:name="Parks Funds" doc:id="88830c2d-a31d-4cec-8fea-2d392084df22">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="ParksDataValues" ><![CDATA[%dw 2.0
output application/java
var parksExpenses = (vars.parksExpense.amount reduce $$ + $ default 0) + (vars.parksStocksExpense.amountSpent reduce $$ + $ default 0)
var parksRevenue = (vars.parksRevenue.cost reduce $$ + $ default 0)
var parksFunds = (vars.parksRevenue.cost reduce $$ + $ default 0) - ((vars.parksExpense.amount reduce $$ + $ default 0) + (vars.parksStocksExpense.amountSpent reduce $$ + $ default 0))
fun colorize(referenceVal: Number) = 
	if (referenceVal < 0) ('<font color=#FF0000>-\$' ++ abs(referenceVal) ++ '</font>') 
	else ('<font color=#000000>\$' ++ referenceVal ++ '</font>')
---
{
	parksExpenses: colorize(parksExpenses),
	parksRevenue: colorize(parksRevenue),
	parksFunds: colorize(parksFunds)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="PullSewageInformation" doc:id="b4ff1a8d-2f14-4e96-a76a-a5357454269c">
		<http:request method="GET" doc:name="SewageExpense" doc:id="3644e2f5-1fe4-4a64-96d1-5c04baf0f35b" config-ref="ExpenseConnection" path="/sewage" target="sewageExpense" />
		<http:request method="GET" doc:name="SewageStocksExpense" doc:id="f64414a2-9ad2-4e60-9e9e-e8ebd3feb18e" config-ref="SalesforceStockConfiguration" path="/sewage" target="sewageStocksExpense" />
		<http:request method="GET" doc:name="SewageRevenue" doc:id="25ccc240-e007-4237-a161-415cf223df18" config-ref="RevenueConnection" path="/sewage" target="sewageRevenue" />
		<http:request method="GET" doc:name="SewageStocksRevenue" doc:id="7e455e26-e2ef-4232-9637-16dad48b01e9" config-ref="MicroserviceStockConfiguration" path="/aggregate/sewage" target="sewageStocksRevenue" />
		<ee:transform doc:name="Sewage Funds" doc:id="236c4786-9c82-4348-b235-d52d796e1957">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="SewageDataValues" ><![CDATA[%dw 2.0
output application/java
var sewageExpenses = (vars.sewageExpense.amount reduce $$ + $ default 0) + (vars.sewageStocksExpense.amountSpent reduce $$ + $ default 0)
var sewageRevenue = (vars.sewageRevenue.cost reduce $$ + $ default 0)
var sewageFunds = (vars.sewageRevenue.cost reduce $$ + $ default 0) - ((vars.sewageExpense.amount reduce $$ + $ default 0) + (vars.sewageStocksExpense.amountSpent reduce $$ + $ default 0))
fun colorize(referenceVal: Number) = 
	if (referenceVal < 0) ('<font color=#FF0000>-\$' ++ abs(referenceVal) ++ '</font>') 
	else ('<font color=#000000>\$' ++ referenceVal ++ '</font>')
---
{
	sewageExpenses: colorize(sewageExpenses),
	sewageRevenue: colorize(sewageRevenue),
	sewageFunds: colorize(sewageFunds)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="fakeLogin" doc:id="d9c72f72-c910-4844-abd7-99a3500b89d1" >
		<http:listener doc:name="Listener" doc:id="248d95c9-121e-4351-b20b-f344390a0245" config-ref="HTTP_Listener_config" path="/fakelogin" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="09bbb543-f277-4b9e-8e72-3156ffecb584" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="63f321f1-002e-4934-8eee-001488fe8aec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="is Payload null" doc:id="f738785d-a523-48a2-b963-6e2c138bc0f0" >
			<when expression='#[payload != null]'>
				<set-variable doc:name="Set Variable" doc:id="febc1b68-f2f0-4286-ae0d-fe5f396dfa6f" variableName="Username" value="#[payload.username]" mimeType="application/json" />
				<set-variable doc:name="Set Variable" doc:id="74ce5873-9a5c-4485-91a4-b040aaab494c" variableName="Password" value="#[payload.password]" />
				<logger level="INFO" doc:name="Logger" doc:id="f5b00a70-d63d-4c3b-ade8-fc69376d4659" message="Username: #[vars.Username], Password: #[vars.Password]" />
				<http:request method="POST" doc:name="Request" doc:id="5e7aada2-09fa-4f64-8694-64d2be6c5bba" path="/login" config-ref="SalesforceAuthConnection">
					<http:headers><![CDATA[#[output application/java
---
{
	"username" : vars.Username,
	"password" : vars.Password
}]]]></http:headers>
				</http:request>
				<choice doc:name="is Login successful" doc:id="a9e4e5ca-9857-46dd-acfc-a924d50c7ee1">
					<when expression="#[payload == true]">
						<set-payload value='#["98y2j&amp;31iu#3y9183"]' doc:name="Set Payload" doc:id="3bcf6db7-473f-4a42-ba8d-0091f91ef274" />
					</when>
				</choice>
			
</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="04ed3af4-738a-4374-983a-4c6012c3ad7d" message="false"/>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b39c21ad-6658-4517-82d0-5380410cbc6f" />
			</otherwise>
		</choice>
	</flow>
	
	
	<flow name="loadIndexPage" doc:id="26ce383e-bd96-4b61-a9f4-a24a382fc2f8" >
		<http:listener doc:name="load index.html" doc:id="93b17725-3db4-4b2b-826c-67c82d200452" config-ref="HTTP_Listener_config" path="/test"/>
		<parse-template doc:name="parse index.html" doc:id="00d53edf-a3ac-4ca7-9afd-459871e75da0" location="Login\index.html"/>
	</flow>
	<flow name="loadbootstrapmincss" doc:id="9e2f3931-1580-46e5-8875-772bbde66f12">
		<http:listener doc:name="load bootstrap.min.css" doc:id="9ceafb64-84b4-4903-88d8-6cea469a8525" config-ref="HTTP_Listener_config" path="/vendor/bootstrap/css/bootstrap.min.css" />
		<parse-template doc:name="parse bootstrap.min.css" doc:id="e9f48d1b-eb32-48e0-b80c-ec9baa30592b" location="Login/vendor/bootstrap/css/bootstrap.min.css" />
	</flow>
	<flow name="loadutilcss" doc:id="cc3a818d-5652-422a-bc50-21ca3bb238af">
		<http:listener doc:name="load utilcss" doc:id="49519025-fe2d-4c04-bb0c-f5b43d2537cd" config-ref="HTTP_Listener_config" path="/css/util.css" />
		<parse-template doc:name="parse utilcss" doc:id="20252873-431e-4485-92f6-3ea8225c0da7" location="Login/css/util.css" />
	</flow>
	<flow name="loadmaincss" doc:id="406fe907-b44c-40e3-934a-fb11ab2e8e8c">
		<http:listener doc:name="load main.css" doc:id="7ac4a1ee-7c18-4f91-82db-3111318c65b9" config-ref="HTTP_Listener_config" path="/css/main.css" />
		<parse-template doc:name="parse main.css" doc:id="3268d7fa-7e20-4d93-b852-524e611b4789" location="Login/css/main.css" />
	</flow>
	<flow name="loadmainjs" doc:id="fe93fb1b-c25a-45d9-947f-158a952fa1b3">
		<http:listener doc:name="load main.js" doc:id="b8fc185d-c9f9-456c-83b5-badce2590e13" config-ref="HTTP_Listener_config" path="/js/main.js" />
		<parse-template doc:name="parse main.js" doc:id="3413ff60-dd0f-47aa-a292-663d8187400e" location="Login/js/main.js" />
	</flow>
	<flow name="loadbootstrapjs" doc:id="c804b40f-0920-4103-b866-ef62a0577ea6">
		<http:listener doc:name="load bootstrap.min.js" doc:id="dea812a7-3047-4d6d-a9c8-f5c3908b8463" config-ref="HTTP_Listener_config" path="/vendor/bootstrap/js/bootstrap.min.js" />
		<parse-template doc:name="parse bootstrap.min.js" doc:id="42342cd8-1460-4fbc-955e-5c925b967434" location="Login/vendor/bootstrap/js/bootstrap.min.js" />
	</flow>
	<flow name="login" doc:id="7aee3898-9ad1-4e9f-9a35-ca5218f24174" >
		<http:listener doc:name="/login/{username}/{password}" doc:id="1dbc2377-b214-4ea8-9395-0f8d6ce97abf" config-ref="HTTP_Listener_config" path="/login/{username}/{password}"/>
		<http:request method="POST" doc:name="Attempt Login to Salesforce" doc:id="62594515-3e3e-4a4b-a798-3e7bce56a358" path="/login" config-ref="SalesforceAuthConnection">
			<http:headers ><![CDATA[#[output application/java
---
{
	"username" : attributes.uriParams.username,
	"password" : attributes.uriParams.password
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="delete:\expense\(organization)\(id):expense-config">
        <http:listener doc:name="delete:/expense/organization/(organization)/id/(id)" doc:id="03a54b23-2d68-4f9f-8728-dc15e7f329e3" config-ref="HTTP_Listener_config" path="/expense/organization/{organization/id/{id}" allowedMethods="DELETE" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="42cd1ed4-a0d5-48ad-a140-7182aa8e0df0" doc:name="Parse organization and id">
            <ee:variables>
                <ee:set-variable variableName="organization"><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="DELETE" doc:name="Request" doc:id="bbd34ddd-3cd4-4452-b469-a6b5c97b1fb7" path="/{organization}/id/{id}" config-ref="ExpenseConnection">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"organization" : vars.organization,
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
    
</flow>
	<flow name="get:\expense\(organization)\summary:expense-config">
        <http:listener doc:name="Listener" doc:id="83e0ed97-857e-43a5-a237-51d2a5995d64" config-ref="HTTP_Listener_config" path="/finances/summary/{organization}"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="2d6c2a22-5187-4e1b-9292-9090826eedde" doc:name="Store organization, start, end">
            <ee:variables>
                <ee:set-variable variableName="organization"><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
				<ee:set-variable variableName="start" ><![CDATA[attributes.queryParams.start]]></ee:set-variable>
				<ee:set-variable variableName="end" ><![CDATA[attributes.queryParams.end]]></ee:set-variable>
            
</ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="a3948d0b-4123-4418-ba11-7abb77811a8f" config-ref="ExpenseConnection" path="/expense/{organization}/summary">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"Start Date" : vars.start,
	"End Date" : vars.end
}]]]></http:query-params>
		</http:request>
    
</flow>
	<flow name="MS-Total\finances\(organization)">
        <http:listener doc:name="Listener" doc:id="58836feb-551a-41ec-9ef2-29917c9423a6" config-ref="HTTP_Listener_config" path="/finances/{organization}"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="1c0e9381-7f77-4883-961e-a3026104555f" doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="organization"><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
				<ee:set-variable variableName="start" ><![CDATA[attributes.queryParams.start]]></ee:set-variable>
				<ee:set-variable variableName="end" ><![CDATA[attributes.queryParams.end]]></ee:set-variable>
            
</ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="ff7231e4-6183-4a77-a6eb-c4c01ae8a94c" config-ref="HTTP_Request_configuration" path="/expenses/{organization}/{start}/{end}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization,
	"start" : vars.start,
	"end" : vars.end
}]]]></http:uri-params>
		</http:request>
    
</flow>
	<flow name="SALESFORCE-revenue\finances\(organization)" doc:id="9488f0ca-2f0b-49fd-99de-be7501918984" >
		<http:listener doc:name="/financessalesforce/{organization}" doc:id="27a69dc5-94d6-4725-8a35-8a58ccdb82c6" config-ref="HTTP_Listener_config" path="/financessalesforce/{organization}"/>
		<logger level="INFO" doc:name="Logger" doc:id="105fea0d-d4ce-4483-98d9-71cedffa4635" message="/financessalesforce/{organization}"/>
		<ee:transform doc:name="Transform Message" doc:id="6e917c85-d223-4514-a68b-7f4dafb406de" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
				<ee:set-variable variableName="start" ><![CDATA[attributes.queryParams.start]]></ee:set-variable>
				<ee:set-variable variableName="end" ><![CDATA[attributes.queryParams.end]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="f09731a4-daf4-442e-b1dd-3725f46fffc4" config-ref="RevenueConnection" path="/{organization}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"start" : vars.start,
	"end" : vars.end
}]]]></http:query-params>
		</http:request>    
</flow>
	<flow name="SALESFORCE-revenue\finances\(organization)" doc:id="9488f0ca-2f0b-49fd-99de-be7501918984" >
		<http:listener doc:name="/financessalesforce/{organization}" doc:id="27a69dc5-94d6-4725-8a35-8a58ccdb82c6" config-ref="HTTP_Listener_config" path="/financessalesforce/{organization}"/>
		<logger level="INFO" doc:name="Logger" doc:id="105fea0d-d4ce-4483-98d9-71cedffa4635" message="/financessalesforce/{organization}"/>
		<ee:transform doc:name="Store organization, start, end" doc:id="6e917c85-d223-4514-a68b-7f4dafb406de" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
				<ee:set-variable variableName="start" ><![CDATA[attributes.queryParams.start]]></ee:set-variable>
				<ee:set-variable variableName="end" ><![CDATA[attributes.queryParams.end]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="GET revenue by organization" doc:id="f09731a4-daf4-442e-b1dd-3725f46fffc4" config-ref="RevenueConnection" path="/{organization}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"start" : vars.start,
	"end" : vars.end
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f865256a-06ce-441b-942c-ef93cbba9520" />
	</flow>
	<flow name="getAssets" doc:id="6a9c232e-aed0-4ee4-bfae-356276100d2a" >
		<http:listener doc:name="getAssetsByOrganization" doc:id="c864561c-8ceb-4f64-b406-4022b87e9293" config-ref="HTTP_Listener_config" path="/assets/{organization}"/>
		<ee:transform doc:name="Transform Message" doc:id="0b57b309-9c44-4817-a87f-ec4feaec11ca" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e1957d6e-79aa-4920-bfc5-a2d3fdab9a1e" />
		<http:request method="GET" doc:name="Get Assets from Salesforce" doc:id="d233f571-8538-4553-a6a4-7026b224d252" config-ref="RevenueConnection" path="/name/{organization}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="2b1418f4-05a4-4eba-ab5a-1bfda6e3e9ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	assets: payload.item
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="grabStockExpenses" doc:id="84f1e42f-c2d2-48af-9f2a-249ed7b26430" >
		<http:listener doc:name="grabStockExpenses" doc:id="50293c85-4600-4819-9833-08a70fad463f" config-ref="HTTP_Listener_config" path="/stock/{organization}/expense"/>
		<ee:transform doc:name="Store organization" doc:id="e29db558-536c-44a2-8d00-37a0b0a20f33" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Get Stocks by Organization" doc:id="3e2eb14c-6bb4-4020-b5ee-b05e7fa5496d" config-ref="SalesforceStockConfiguration" path="/{organization}" outputMimeType="application/json">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="cd490054-664a-48d2-89d7-498e1e9f57b1" message="#[payload]"/>
		<ee:transform doc:name="Collate amount spent on stocks" doc:id="8eb9266f-2387-466e-b238-0b77ab170204">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var payload={
"addresses": [
  {
    "type": "PERM",
    "city": "Warsaw",
    "street": "Jerozolimskie",
    "no": 150,
    "postal": "12-233"
  },
  {
    "type": "LIVI",
    "city": "Warsaw",
    "street": "Asfaltowa",
    "no": 111,
    "postal": "99-233"
  }]
}
---
{
	permanent: payload.addresses[?($.'type' == "PERM")][0] match{
		case is Object -> {
			city: $.city,
			street: $.street ++ ' no. ' ++ $.no,
			postalCode: $.postal
		}
		else -> null
	},
	living: payload.addresses[?($.'type' == "LIVI")][0] match{
		case is Object -> {
			city: $.city,
			street: $.street ++ ' no. ' ++ $.no,
			postalCode: $.postal
		}
		else -> null		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAssets" doc:id="6a9c232e-aed0-4ee4-bfae-356276100d2a" >
		<http:listener doc:name="getAssetsByOrganization" doc:id="c864561c-8ceb-4f64-b406-4022b87e9293" config-ref="HTTP_Listener_config" path="/assets/{organization}"/>
		<ee:transform doc:name="Transform Message" doc:id="0b57b309-9c44-4817-a87f-ec4feaec11ca" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e1957d6e-79aa-4920-bfc5-a2d3fdab9a1e" />
		<http:request method="GET" doc:name="Get Assets from Salesforce" doc:id="d233f571-8538-4553-a6a4-7026b224d252" config-ref="RevenueConnection" path="/name/{organization}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="2b1418f4-05a4-4eba-ab5a-1bfda6e3e9ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	assets: payload.item
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="grabStockExpenses" doc:id="84f1e42f-c2d2-48af-9f2a-249ed7b26430" >
		<http:listener doc:name="grabStockExpenses" doc:id="50293c85-4600-4819-9833-08a70fad463f" config-ref="HTTP_Listener_config" path="/stock/{organization}/expense"/>
		<ee:transform doc:name="Transform Message" doc:id="e29db558-536c-44a2-8d00-37a0b0a20f33" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="organization" ><![CDATA[attributes.uriParams.organization]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="3e2eb14c-6bb4-4020-b5ee-b05e7fa5496d" config-ref="StockConfiguration" path="/{organization}" outputMimeType="application/json">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"organization" : vars.organization
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="cd490054-664a-48d2-89d7-498e1e9f57b1" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8eb9266f-2387-466e-b238-0b77ab170204" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	stockvalues: payload.amountSpent
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
